<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome, <%= user.username %></h1>
    <p>Name: <%= user.name %></p>
    <p>Major: <%= user.major %></p>
    <a href="/profile">Edit Profile</a><br>
    <a href="/courses">Manage Courses</a><br>
    <a href="/logout">Logout</a>
</body>
</html>
